<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2 class="text-white">Restaurant Records</h2>
        <div class="d-flex">
            <button (click)="clickaddData()" type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Add
                Restaurant</button>
            <button routerLink="/login" class="btn btn-danger btn-sm mx-3">Logout</button>
        </div>
    </div>
</nav>

<div class="jumbotron p-4">
    <h1 class="display-4">Restaurant Management App</h1>
    <p class="lead">You can create and save the required data entries for the business.</p>
    <a class="btn btn-primary btn" target="_blank" href="https://angular.io/" role="button">Learn more</a>

</div>
<hr class="my-4">

<table class="table">
    <thead>
        <tr>
            <th scope="col">Restaurant ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Address</th>
            <th scope="col">Service</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allRestaurantData">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.address}}</td>
            <td>{{data.services}}</td>
            <td>
                <button (click)="editData(data)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    class="btn btn-info">Edit</button>&nbsp;
                <button (click)="deleteData(data)" class="btn btn-danger ms-2">Delete</button>
            </td>

        </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- input field -->
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Restaurant name"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email ID</label>
                        <input type="text" formControlName="email" class="form-control" placeholder="Restaurant email"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Mobile</label>
                        <input type="text" formControlName="mobile" class="form-control"
                            placeholder="Restaurant mobile no:" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Address</label>
                        <input type="text" formControlName="address" class="form-control"
                            placeholder="Restaurant address" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Services</label>
                        <input type="text" formControlName="services" class="form-control"
                            placeholder="Restaurant services" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>


                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button *ngIf="showAdd" type="button" (click)="addData()" class="btn btn-primary">Add details</button>
                <button *ngIf="showBtn" type="button" (click)="updateData()" class="btn btn-primary">update
                    details</button>
            </div>
        </div>
    </div>
</div>